.centerBlocHead {
    overflow: no-display;
    word-wrap: break-word;
    margin: auto;
    text-align: center;
}
.monBlocTable {
    display: flex;
    flex-wrap: wrap;/*passe à la ligne(sur l'axe secondaire) si besoin*/
    max-height  : 300px;
    word-wrap: break-word;
    overflow: auto;
    position: relative;
    z-index : 1;
}
.monCadre {
    border: 1px red solid;
    border-radius: 20px / 15px;
    box-shadow: 10px 10px 10px Black;
    min-width: 10%;
    max-height  : 300px;
    overflow: auto;
    position: relative;
    z-index : 1;
    padding: 10px 10px 10px 5px;/*marge interieur*/
    margin: 10px 10px 10px 50px;/*marge exterieur*/
}
.showOnPhoneOnly {
    display: none;
}
.flottantRight {
    float: right;
}
.plusFlottant {
    clear: right;
}
.alignRightOnLg {
    text-align: right;
}
.alignCenter {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .hideOnPhone {
        display: none;
    }
    .showOnPhoneOnly {
        display: block;
    }
    .alignRightOnLg {
        text-align: left;
    }
    .monCadre {
        word-wrap: break-word;
        border: 1px red solid;
        border-radius: 20px / 15px;
        box-shadow: 5px 5px 5px Black;
        /*width   : 200px;*/
        min-width: 10%;
        /*height  : 200px;*/
        max-height  : 300px;
        overflow: auto;
        position: relative;
        z-index : 1;
        padding: 1px 1px 1px 5px;/*marge interieur*/
        margin: 1px 1px 10px 1px;/*marge exterieur*/
    }
}