.centerBloc {
    overflow: no-display;
    word-wrap: break-word;
    margin: auto;
    text-align: center;
}
.showOnPhoneOnly {
    display: none;
}
.flottantRight
{
    float: right;
}
.plusFlottant
{
    clear: right;
}

@media screen and (max-width: 800px) {
    .hideOnPhone{
        display: none;
    }
    .showOnPhoneOnly {
        display: block;
    }
}